<div class="ui borderless main menu" style="">
  <div class="ui text container">
    <div class="header item">
      <!-- <img class="logo" src="assets/images/logo.png"> -->
      <a href="#" style="color: #00B5AD">监控 &nbsp;&nbsp;|</a>
    </div>

    <a class="ui dropdown item">接口监控
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" href="/group">监控组列表</div>
        <div class="item" href="/group/add">监控组增加</div>
        <div class="ui fitted divider"></div>
        <div class="item" href="/config">监控项列表</div>
        <div class="item" href="/config/add">监控项增加</div>
      </div>
    </a>

    <a class="ui dropdown item">应用监控
      <!-- <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" href="/agent">监控应用列表</div>
      </div> -->
    </a>


  </div>
</div>
