{% extends "base.html" %}
{% block title %}
  dashboard
{% endblock %}

{% block content %}
  <div class="ui center aligned">
    <div class="ui breadcrumb">
      <div class="section">Home</div>
      <div class="divider"> / </div>
      <div class="active section">监控项列表</div>
    </div>

    <div class="center aligned column">
      <h2>
      </h2>
    </div>
    <div class="ui" style="overflow: auto">
      <h2 class="ui dividing header"></h2>
      <table class="ui striped selectable celled structured table">
        <thead>
          <tr>
            <th>所属产品线名</th>
            <th>应用名</th>
            <th>服务地址</th>
            <th>请求URL</th>
            <th>请求方法</th>
            <th>请求间隔时长(秒)</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          {% for group, group_info in res.items() %}
            {% for app_name, app_item in group_info.items() %}
              {% for item in app_item %}
              <tr>
                <td>{{ group }}</td>
                <td><a href="/config/info/{{ item["_id"] }}">{{ app_name }}</a></td>
                <td>{{ item['domain'] }}</td>
                <td>{{ item['url'] }}</td>
                <td>{{ item['method'] }}</td>
                <td>{{ item['seconds'] }}</td>
                <td data-value={{ item["_id"] }}>
                  <a class="remove_config" href="#"><i class="minus circle icon"></i></a>
                  <a class="edit_config" href="/config/update/{{ item["_id"] }}"><i class="edit icon"></i></a>
                </td>
              <tr>
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
